# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Karn's Blog
author: Karn
email: karn@hey.com
description: Love and enjoy coding with Ruby at Phuket
keywords: ruby rails javascript development phuket
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://karn18.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter:
  username: karn18
  card: summary_large_image
social:
  name: Karn Tirasoontorn
  links:
    - https://twitter.com/karn18
    - https://github.com/karn18

sass:
#   style: compressed
  load_paths: [
    './assets/css'
  ]

plugins:
  # - jekyll-archives
  - jekyll-feed
  - jekyll-paginate-v2
  - jekyll-sitemap
  - jekyll-seo-tag
  - liquid_pluralize

excerpt_separator: <!--more-->

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - word_count.rb
  - '*.py'

kramdown:
  input: GFM
  syntax_highlighter_opts:
    span:
      line_numbers: false
    block:
      line_numbers: false

pagination:
  enabled: true
  per_page: 10
  permalink: '/page/:num/'
  limit: 0
  sort_field: 'date'
  sort_reverse: true

# autopages:
#   enabled: true
#   categories:
#     layouts:
#       - autopage_cat.html
#     enabled: true
# jekyll-archives:
#   enabled: 
#     - year
#     - tags
#   layouts: 
#     year: year-archive
#     tag: tag-archive
#   permalinks:
#     year: '/archives/:year/'
#     month: '/archives/:year/:month/'
#     day: '/archives/:year/:month/:day/'
#     tag: '/archives/tag/:name/'
#     category: '/archives/category/:name/'
