<h1 class="title has-text-blue is-blog-header"><strong class="shadow is-orange">{{ include.blog.title | escape }}</strong></h1>
<h6 class="subtitle is-6 is-blog-info">
  <span class="icon is-small">
    <i class="far fa-calendar-alt"></i>
  </span>
  {{ include.blog.date | date: "%d-%m-%Y" }} |
  <span class="icon is-small">
    <i class="fas fa-pen-nib"></i>
  </span>
  {{ include.blog.author }} |
  <span class="icon is-small">
    <i class="far fa-clock"></i>
  </span>
  {{ include.blog.content | reading_time | pluralize: "minute" }}
</h6>
<h6 class="subtitle is-6 is-blog-info">
  <i class="fas fa-tag"></i>
  {% for tag in include.blog.tags %}
    <span class="tag is-info is-light">{{ tag }}</span>
  {% endfor %}
</h6>
