<div class="footer is-footer is-family-secondary">
  <div class="content has-text-centered">
    <p>
      <strong>Crafted</strong> by <a href="https://karn18.github.io">Karn</a> with <strong><i style="color: red" class="fas fa-heart" aria-hidden="true"></i></strong>
    </p>
    <p>
      <a href="https://bulma.io">
        <img src="/assets/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24" />
      </a>
    </p>
    <p>
      <a href="/feed.xml"><i class="fas fa-rss-square"></i> Subscribe via RSS</a>
    </p>
    <p>
      <a href="https://twitter.com/@karn18"><i class="fab fa-twitter"></i> Follow on Twitter</a>
    </p>
  </div>
</div>