<footer class="text-center px-4 py-12 md:py-12 bottom-0">
  <div class="max-w-3xl mx-auto">
    <div class="flex flex-col mx-auto text-gray-500 dark:text-gray-400 text-lg mt-20 mx-auto text-center">
      <div>
        <a href="https://twitter.com/karn18" class="font-semibold text-gray-700 hover:text-blue-500 dark:text-white dark:hover:text-blue-300 no-underline">
          @karn18
        </a>
      </div>
      <div class="mx-auto text-center">
        <a title="Support me on ko-fi.com" class="flex py-2 px-4 rounded-full bg-purple-600" href="https://ko-fi.com/Z8Z12J9KQ" target="_blank">
          <span class="flex text-center items-center text-white">
            <img src="https://storage.ko-fi.com/cdn/cup-border.png" alt="Ko-fi donations" class="h-4 mr-2">
            Buy me a coffee
          </span>
        </a>
      </div>
      <span class="inline-flex text-center items-center mx-auto">
        Built with&nbsp; 
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
      </span>
      <span>© 2021</span>
    </div>
  </div>
</footer>
