<!-- <input type="checkbox" id="hamburger" class="nav-checkbox"/> -->
<!-- <label class="nav-mobile-button" for="hamburger">Menu</label> -->

<nav class="nav">
  <div class="nav__menu">
    <!-- <label class="nav-mobile-button nav-mobile-button--close" for="hamburger"><span></span> close</label> -->
    <ul class="nav__list nav__list--horizontal{% if include.type == "horizontal" %} nav__list--horizontal{% endif %}">
      <li>
        <a href="/" class="nav__list-link"><i class="typcn typcn-pen"></i>บทความ</a>
      </li>
      <li>
        <a href="/archives" class="nav__list-link"><i class="typcn typcn-archive"></i><span>คลัง</span></a>
      </li>
      <!-- <li>
        <a href="/about" class="nav__list-link"><i class="typcn typcn-user"></i><span>เกี่ยวกับเรา</span></a>
      </li> -->
      <li>
        <a href="/feed.xml" class="nav__list-link"><i class="typcn typcn-rss"></i><span>rss</span></a>
      </li>
    </ul>
  </div>
</nav>
