{% if paginator.total_pages > 1 %}
  <div class="container page-nav">
    <div>
    {% if paginator.previous_page %}
      <a class="button is-rounded is-family-secondary" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer</a>
    {% endif %}
    </div>
    <div>
    {% if paginator.next_page %}
      <a class="button is-rounded is-family-secondary" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &rarr;</a>
    {% endif %}
    </div>
  </div>
{% endif %}