// scss-lint:disable unknownProperties

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  color: $color-text;
  font-family: $serif-font;
  font-size: $font-base;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6em;

  @include media(small) {
    font-size: $font-base;
  }

  @include media(large) {
    font-size: $font-base-medium;
  }

  @include media(x-large) {
    font-size: $font-base-large;
  }
}

a {
  color: $color-text;
  text-decoration: underline;
  -webkit-text-decoration-color: $color-orange;
  text-decoration-color: $color-orange;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;

  &:visited { 
    color: $color-text; 
  }

  &:hover { 
    text-decoration-color: $color-accent;
  }

  &:active { 
    color: $color-text;
  }
}

h1, h2, h3 {
  margin-top: 1.6em;
  margin-bottom: 0.75em;
  font-family: $sans-font;
  font-weight: 600;
  line-height: 1.6em;
  word-wrap: break-word;
  text-align: center;
}

h1 {
  font-weight: 700;
  color: $color-brand;
  letter-spacing: 0.04em;
}

h2 {
  font-weight: 600;
  letter-spacing: 0.02em;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.01em;
}

ul,
ol {
  line-height: 1.6;
  margin-bottom: 1.5em;
}

li {
  margin-left: 1em;
  margin-bottom: 1em;

  ul,
  ol {
    margin-top: 0.5em;
    margin-bottom: 0;
  }
}

p {
  line-height: 1.6;
  margin-bottom: 1.5em;

  img {
    display: block;
    margin: auto;
  }

  img + em {
    color: $color-orange;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 0.4em;
  }

  code {
    font-family: $mono-font;
    font-size: 14px;
  }
}

strong {
  font-weight: 600;
  color: $color-brand;
}

blockquote {
  border-left: 4px solid $color-accent;
  padding: 0 15px !important;
  margin: 50px auto;
  font-size: $font-base-large;
  color: $color-green;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }

  h1,
  h2,
  h3 {
    margin-top: 0.5em;
    text-align: left;
  }
}

hr {
  display: block;
  height: 1px;
  margin: 2em 0 3em 0;
  padding: 0;
  border: none;
  border-top: 1px solid $color-burgundy;
}

code,
pre {
  font-family: $mono-font;
  line-height: 1.6;
  padding:  0 0.1em;
  background-color: $color-tint;
}

pre {
  text-indent: -0.125em;
  font-weight: 400;
}

code {
  padding: 0 0.125em;
  word-wrap: break-word;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

thead {
  background-color: $color-tint;
  font-family: $sans-font;
}

tr {
  border-bottom: 0.125em solid $color-tint;
}

th,
td {
  vertical-align: middle;
  padding: 0.5em;
}

input,
select{
  vertical-align: middle;
}

figure, img {
  max-width: 100%;
  text-align: center;
}

video {
  max-width: 100%;
}
