@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/assets/fonts/Bai-Jamjuree-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/assets/fonts/Bai-Jamjuree-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Prompt";
  font-weight: 100 500;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/assets/fonts/Prompt-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Prompt";
  font-weight: 600 900;
  font-style: bold;
  font-named-instance: 'Bold';
  src: url("/assets/fonts/Prompt-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: 'JetBrainsMono';
  font-weight: 100 800;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-display: swap;
  font-variant-ligatures: normal;
}

@font-face{
  font-family: 'JetBrainsMono';
  font-weight: 100 800;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
  font-display: swap;
  font-variant-ligatures: normal;
}
