.home-box {
  margin: 1em auto;
  border-radius: 10px;

  @include media(small) {
    width: 25em;
  }  

  @include media(medium) {
    width: 40em;
  }

  @include media(large) {
    width: 55em;
  }

  background-color: $color-background;

  &__room {
    padding: 1em;
  }
}

.--salmon {
  color: $color-orange;
}

.--burgundy {
  color: $color-burgundy;
}

.blog {
  margin: 1em auto;
  border-radius: 10px;

  @include media(small) {
    width: 25em;
  }  

  @include media(medium) {
    width: 40em;
  }

  @include media(large) {
    width: 55em;
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 0.2rem;
  }

  &__info {
    font-size: 1em;
    text-align: center;
  }

  &__content {
    margin-bottom: 1em;

    h2 {
      color: $color-burgundy;
      text-align: left;
    }

    p {
      margin: 1em 0;
    }

    video {
      max-width: 100%;
    }
  }
}

.progress {
  background: linear-gradient(to right, $color-orange var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 4px;
  z-index: 1;
}

.video {
  text-align: center;
}

.footer {
  font-family: $sans-font;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  height: 150px;
  background-color: $color-brand;
  color: #fff;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }

  a {
    color: #fff;
  }

  strong {
    color: #fff;
  }
}

.pagination {
  margin-top: 30px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;

  &__newer {}

  &__older {
    margin-left: auto;
  }

  &__button {
    border: 1px solid transparent;
    color: $color-burgundy;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;

    &:hover {
      color: $color-burgundy;
    }
  }
}
