body {
  background-color: $bg-color;
  color: $black-color;
  display: flex;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-family: $secondary-font;
  color: $pink-color;
}

a {
  color: $black-color;
  font-family: $secondary-font;
  position: relative;
  text-decoration: none;
  &:hover {
    color: $yellow-color;
  }
}

ul {
  padding: 0;
}

li {
  margin-left: 1rem;
}

figure, img {
  max-width: 100%;
  margin: 0;
}

hr {
  background-color:$grey-color;
  border-width: 0;
  color: $grey-color;
  height: 2px;
  margin: 30px auto;
  width: 60%;  
}

blockquote {
  border-left: 4px solid $green-color;
  padding: 0 15px !important;
  margin: 50px auto;
  width: 75%;
}

strong {
  font-weight: bold;
  color: $yellow-color;
}

p {
  box-sizing: border-box;
  word-wrap: break-word;
  margin: 20px 0;

  img {
    display: block;
    margin: auto;
  }

  img + em {
    color: $orange-color;
    display: block;
    text-align: center;
    margin-top: 0.4em;
  }

  code {
    font-family: $monospace-font;
    font-size: 13px;
  }
}