body {
  background-color: var(--white-color);
  color: var(--black-color);
  display: flex;
  font-family: $primary-font;
  font-size: 18px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-family: $secondary-font;
  color: var(--pink-color);
}

a {
  color: var(--black-color);
  font-family: $secondary-font;
  position: relative;
  text-decoration: underline;
  text-decoration-color: var(--orange-color);
  &:hover {
    color: var(--yellow-color);
  }
}

ul {
  list-style: disc;
  padding: 0;
}

li {
  margin: 0.25rem 0 0.25rem 1rem;
}

figure, img {
  max-width: 100%;
}

hr {
  background-color: var(--grey-color);
  border-width: 0;
  color: var(--grey-color);
  height: 2px;
  margin: 30px auto;
  width: 40%;
}

blockquote {
  border-left: 4px solid var(--green-color);
  padding: 0 15px !important;
  margin: 50px auto;
}

section {
  margin: 50px 0;
}

strong {
  font-weight: bold;
  color: var(--yellow-color);
}

p {
  box-sizing: border-box;
  word-wrap: break-word;
  margin: 20px 0;

  img {
    display: block;
    margin: auto;
  }

  img + em {
    color: var(--orange-color);
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 0.4em;
  }

  code {
    font-family: $monospace-font;
    font-size: 14px;
  }
}

code {
  color: var(--green-color);
  font-family: $monospace-font;
  font-size: 14px;
  font-style: italic;
}
