body {
  background-color: $bg-color;
  color: $black-color;
  display: flex;
  font-family: $primary-font;
  font-size: 14px;
}

h1, h2, h3, h4, h5 {
  font-family: $secondary-font;
  color: $pink-color;
}

a {
  color: $black-color;
  font-family: $secondary-font;
  font-size: 1.1rem;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  margin-left: 1rem;
}