:root {
  --black-color: #5B5B5F;
  --white-color: #FFF;
  --blue-color: #B2D0EB;
  --green-color: #85DE9E;
  --grey-color: #65696b;
  --orange-color: #F6903D;
  --pink-color: #EB81A7;
  --purple-color: #473571;
  --red-color: #C14745;
  --yellow-color: #ffc800;
}
