$bg-color: #F8FBFF;
$black-color: #5B5B5F;
$blue-color: #B2D0EB;
$green-color: #85DE9E;
$grey-color: #CACACA;
$orange-color: #FA6A64;
$pink-color: #EB81A7;
$red-color: #C14745;
$white-color: #fff;
$yellow-color: #FDDA8A;