@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

// @font-face {
//   font-family: "FC Home";
//   src: url("/assets/fonts/FC-Home-Thin.ttf") format("ttf"),
//     url("/assets/fonts/FC-Home-Thin.woff2") format("woff2");
// }

@font-face {
  font-family: "Mali";
  src: url("/assets/fonts/Mali-Regular.ttf") format("ttf"),
    url("/assets/fonts/Mali-Regular.woff2") format("woff2");
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Mali";
  src: url("/assets/fonts/Mali-Bold.ttf") format("ttf"),
    url("/assets/fonts/Mali-Bold.woff2") format("woff2");
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("/assets/fonts/Bai-Jamjuree-Regular.ttf") format("ttf"),
    url("/assets/fonts/Bai-Jamjuree-Regular.woff2") format("woff2");
}

$primary-font: "Bai Jamjuree", "Mali", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$secondary-font: "Mali";
$monospace-font: "Fira Mono", monospace;
