$base00: #2d2d2d;
$base01: #393939;
$base02: #515151;
$base03: #747369;
$base04: #a09f93;
$base05: #d3d0c8;
$base06: #e8e6df;
$base07: #f2f0ec;
$base08: #f2777a;
$base09: #f99157;
$base0A: #ffcc66;
$base0B: #99cc99;
$base0C: #66cccc;
$base0D: #6699cc;
$base0E: #cc99cc;
$base0F: #d27b53;

.highlight {
 
}

.highlight .lineno {
  color: $base04;
  text-align: right;
}
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */

.highlight pre {
  background-color: $base00;
  border-radius: 6px;
  color: $base07;
  overflow: auto;
  padding: 10px 8px;
}
// .highlight .hll { background-color: $base03; }
// .highlight .c { columns: $base03; } /* Comment */
// .highlight .err {
//   color: $base0F;
//   background-color: $base00; } /* Error */
// .highlight .k { color: $base0E; } /* Keyword */
// .highlight .l { color: $base0B; } /* Literal */
// .highlight .n { color: #f8f8f2; } /* Name */
// .highlight .o { color: #f92672; } /* Operator */
// .highlight .p { color: #f8f8f2; } /* Punctuation */
// .highlight .cm { color: $base03; } /* Comment.Multiline */
// .highlight .cp { color: $base03; } /* Comment.Preproc */
// .highlight .c1 { color: $base03; } /* Comment.Single */
// .highlight .cs { color: $base03; } /* Comment.Special */
// .highlight .ge { font-style: italic; } /* Generic.Emph */
// .highlight .gs { font-weight: bold; } /* Generic.Strong */
// .highlight .kc { color: $base0E; } /* Keyword.Constant */
// .highlight .kd { color: $base0E; } /* Keyword.Declaration */
// .highlight .kn { color: #f92672; } /* Keyword.Namespace */
// .highlight .kp { color: $base0E; } /* Keyword.Pseudo */
// .highlight .kr { color: $base0E } /* Keyword.Reserved */
// .highlight .kt { color: $base0E } /* Keyword.Type */
// .highlight .ld { color: $base0B } /* Literal.Date */
// .highlight .m { color: #ae81ff; } /* Literal.Number */
// .highlight .s { color: $base0B; } /* Literal.String */
// .highlight .na { color: #a6e22e; } /* Name.Attribute */
// .highlight .nb { color: #f8f8f2; } /* Name.Builtin */
// .highlight .nc { color: #a6e22e; } /* Name.Class */
// .highlight .no { color: #66d9ef; } /* Name.Constant */
// .highlight .nd { color: #a6e22e; } /* Name.Decorator */
// .highlight .ni { color: #f8f8f2; } /* Name.Entity */
// .highlight .ne { color: #a6e22e; } /* Name.Exception */
// .highlight .nf { color: #a6e22e; } /* Name.Function */
// .highlight .nl { color: #f8f8f2; } /* Name.Label */
// .highlight .nn { color: #f8f8f2; } /* Name.Namespace */
// .highlight .nx { color: #a6e22e; } /* Name.Other */
// .highlight .py { color: #f8f8f2; } /* Name.Property */
// .highlight .nt { color: #f92672; } /* Name.Tag */
// .highlight .nv { color: #f8f8f2; } /* Name.Variable */
// .highlight .ow { color: #f92672; } /* Operator.Word */
// .highlight .w { color: #f8f8f2; } /* Text.Whitespace */
// .highlight .mf { color: #ae81ff; } /* Literal.Number.Float */
// .highlight .mh { color: #ae81ff; } /* Literal.Number.Hex */
// .highlight .mi { color: #ae81ff; } /* Literal.Number.Integer */
// .highlight .mo { color: #ae81ff; } /* Literal.Number.Oct */
// .highlight .sb { color: $base0B } /* Literal.String.Backtick */
// .highlight .sc { color: $base0B; } /* Literal.String.Char */
// .highlight .sd { color: $base0B; } /* Literal.String.Doc */
// .highlight .s2 { color: $base0B; } /* Literal.String.Double */
// .highlight .se { color: $base0C; } /* Literal.String.Escape */
// .highlight .sh { color: $base0B; } /* Literal.String.Heredoc */
// .highlight .si { color: $base0B; } /* Literal.String.Interpol */
// .highlight .sx { color: $base0B; } /* Literal.String.Other */
// .highlight .sr { color: $base0B; } /* Literal.String.Regex */
// .highlight .s1 { color: $base0B; } /* Literal.String.Single */
// .highlight .ss { color: $base0B; } /* Literal.String.Symbol */
// .highlight .bp { color: #f8f8f2; } /* Name.Builtin.Pseudo */
// .highlight .vc { color: #f8f8f2; } /* Name.Variable.Class */
// .highlight .vg { color: #f8f8f2; } /* Name.Variable.Global */
// .highlight .vi { color: #f8f8f2; } /* Name.Variable.Instance */
// .highlight .il { color: #ae81ff; } /* Literal.Number.Integer.Long */

// .highlight .gh { } /* Generic Heading & Diff Header */
// .highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
// .highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
// .highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
// .highlight, .highlight .w {
//   color: #f8f8f2;
//   background-color: #272822;
// }

.highlight .err {
  color: #272822;
  background-color: $base08;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: $base03;
}
.highlight .cp {
  color: $base0A;
}
.highlight .nt {
  color: $base0A;
}
.highlight .o, .highlight .ow {
  color: $base07;
}
.highlight .p, .highlight .pi {
  color: $base07;
}
.highlight .gi {
  color: $base0B;
}
.highlight .gd {
  color: $base08;
}
.highlight .gh {
  color: $base0C;
  background-color: $base01;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: $base0E;
}
.highlight .kc {
  color: $base0F;
}
.highlight .kt {
  color: $base0F;
}
.highlight .kd {
  color: $base0F;
}
.highlight .s, .highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: $base0B;
}
.highlight .sr {
  color: $base0C;
}
.highlight .si {
  color: $base09;
}
.highlight .se {
  color: $base09;
}
.highlight .n {
  color: $base07;
}
.highlight .nn {
  color: $base0A;
}
.highlight .nc {
  color: $base0A;
}
.highlight .no {
  color: $base0A;
}
.highlight .na {
  color: $base0C;
}
.highlight .nb {
  color: $base07;
}
.highlight .nf {
  color: $base07;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: $base0B;
}
.highlight .ss {
  color: $base0B;
}
