---
---
@import 'normalize';
@import 'color';
@import 'font';
@import 'typicons';
@import 'base';
@import 'hightlight';

[data-theme="dark"] {
  background-color: var(--black-color);
  color: var(--white-color);

  a {
    color: var(--white-color);
    &:hover {
      color: var(--yellow-color);
    }
  }

  hr {
    background-color: var(--white-color);
    color: var(--white-color);
  }

  .kz-navbar {
    &__logo {
      color: var(--white-color);
      text-decoration: none;
    }
    &__item {
      color: var(--white-color);
      &:hover {
        color: var(--white-color);
      }
    }
  }
}

.kz-theme-switcher {
  cursor: pointer;
  margin: 0 0.25rem;
}

.kz-about {
  &__title {
    margin: 0.25rem 0;
  }

  &__subtitle {
    color: var(--white-color);
    font-family: $primary-font;
    font-size: 0.75rem;
    margin-top: -0.2rem;
  }

  &__follow {
    a {
      color: var(--grey-color);
      font-family: $primary-font;
    }
  }
}

.kz-main-container {
  width: 45rem;
  margin: 10px auto;
  height: 100%;
}

.kz-navbar {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;

  &__logo {
    color: var(--black-color);
    text-decoration: none;
    font-family: $secondary-font;
    font-weight: bold;
  }

  &__menu {
    margin-left: auto;
  }

  &__item {
    color: var(--black-color);
    font-family: $secondary-font;
    font-weight: bold;
    margin: 0 0.2rem;
    position: relative;
    text-decoration: none;

    span {
      margin-left: 2px;
    }

    &:hover {
      color: var(--black-color);
      background-image: linear-gradient(to bottom, var(--pink-color) 100%, transparent 50%);
      background-position: 0 1.03rem;
      background-repeat: repeat-x;
      background-size: 2px 6px;
    }
  }
}

.kz-content {
  margin: 10px 0;
}

.kz-blog-item {
  &__date {
    color: var(--grey-color);
    justify-content: flex-end;
    margin-left: auto;
    text-align: end;
  }

  &__title {
    color: var(--black-color);
    text-decoration: none;
  }

  &__info {
    color: var(--blue-color);
    font-family: $primary-font;
    font-size: 0.8rem;
  }
}

.kz-blog {
  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__title {
    color: var(--yellow-color);
    margin-bottom: 0.2rem;
  }

  &__info {
    color: var(--blue-color);
    font-family: $primary-font;
    font-size: 0.8rem;
  }

  &__subtitle {
    color: var(--grey-color);
  }
}

.kz-pagination {
  margin-top: 30px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;

  &__newer {}

  &__older {
    margin-left: auto;
  }

  &__button {
    border: 1px solid transparent;
    color: var(--orange-color);
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;

    &:hover {
      color: var(--orange-color);
    }
  }
}

.kz-footer {
  height: 200px;
}

.kz-progress {
  background: linear-gradient(to right, var(--orange-color) var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 4px;
  z-index: 1;
}

@media (min-width: 320px) and (max-width: 480px) {
  .kz-main-container {
    width: 300px;
  }

  .kz-navbar {
    &__item {
      margin-left: 1rem;

      span {
        margin: 0;
        display: none;
      }
    }
  }
}

.kz-tag {
  background-color: var(--grey-color);
  border-radius: 6px;
  color: var(--white-color);
  font-size: 10px;
  padding: 2px 4px;

  &--category {
    background-color: var(--blue-color);
  }

  &--tag {
    background-color: var(--green-color);
  }
}
