---
---
@import "fonts";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply text-lg md:text-2xl leading-loose bg-white dark:bg-gray-800 text-black dark:text-white;
  }

  strong {
    @apply font-bold;  
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-bold mt-8 mb-2;
  }

  h1 {
    @apply text-3xl md:text-5xl leading-loose;
  }

  h2 {
    @apply text-2xl md:text-3xl leading-relaxed;
  }

  h3 {
    @apply text-base md:text-xl leading-normal;
  }

  h4 {
    @apply text-base md:text-lg leading-normal;
  }

  h5 {
    @apply text-gray-900 text-base md:text-lg tracking-normal;
  }

  hr {
    @apply mx-auto w-1/3 py-10 border-0 border-t-4 border-gray-300 mt-12;
  }

  /* article {
    @apply py-4;
  } */

  a {
    @apply text-black dark:text-white text-lg md:text-2xl no-underline hover:no-underline border-b-2 border-purple-500;
  }

  p {
    @apply text-lg md:text-2xl mb-10;
  }

  code {
    @apply text-lg md:text-2xl font-mono break-words;
  }

  p code {
    @apply text-lg md:text-2xl text-black bg-red-200 rounded-full overflow-auto px-2 mb-10;
  }

  p img {
    @apply py-4 mx-auto;
  }

  p img + em {
    @apply block text-center font-serif mx-auto text-sm text-gray-400;
  }

  ol, ul {
    @apply ml-6;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  img {
    @apply rounded-xl my-4;
  }

  figure, img, video {
    @apply max-w-full text-center my-8;
  }

  article figure {
    @apply w-auto max-w-full;
  }

  blockquote {
    @apply mx-auto text-3xl relative md:max-w-xl p-6 font-serif my-12 border-t-4 border-green-400 bg-green-100 rounded-b-3xl text-black;
  }

  blockquote p {
    @apply my-0;
  }

  dl {
    @apply py-1;
  }

  dt {
    @apply sr-only;
  }

  dd {
    @apply text-base leading-6 font-medium text-gray-500;
  }
  
  dd ul {
    @apply list-none flex flex-row justify-center content-center items-center mx-auto;
  }

  dd li {
    @apply mx-2 text-xs inline-flex items-center font-bold uppercase px-3 py-1 bg-green-200 text-green-700 rounded-full;
  }

  footer {
    @apply text-center px-4 py-10 md:py-12 bottom-0 mx-auto;
  }

  footer a {
    @apply rounded-full bg-purple-600 py-2 px-4 mb-8 mx-auto text-white border-b-0 no-underline hover:no-underline leading-8 flex w-fit;
  }

  footer div {
    @apply flex text-center items-center justify-center hover:text-pink-600;
  }

  footer span {
    @apply flex text-center items-center text-white;
  }

  time {
    @apply text-sm text-gray-600;
  }

  header {
    @apply py-4 md:py-6 mx-auto text-center;
  }

  main {
    @apply w-full md:w-2/4 mx-auto;
  }

  nav {
    @apply flex w-full md:w-2/4 mx-auto py-6 px-4 bg-white dark:bg-gray-800 text-black dark:text-white;
  }

  nav ul {
    @apply list-none flex flex-row content-center items-center mx-auto;
  }

  nav li {
    @apply mx-4;
  }

  nav > a, nav > button {
    @apply flex items-center text-gray-800 hover:text-purple-600 dark:text-white dark:hover:text-purple-600 no-underline;
  }

  nav button {
    display: inherit;
  }

  nav figure {
    /* @apply my-auto; */
  }

  svg {
    @apply align-middle;
  }

  section {
    @apply mx-auto px-4;
  }

  .navigation {
    @apply flex mt-10;
  }

  .navigation--previous {
    @apply mr-auto;
  }

  .navigation--next {
    @apply ml-auto;
  }

  .navigation a {
    @apply border-b-0 rounded-full bg-purple-600 py-2 px-4 text-white border-b-0 no-underline hover:no-underline leading-8;
  }
}

code.language-plaintext {
  @apply text-lg md:text-2xl text-black bg-red-200 rounded-full overflow-auto px-2 mb-10;
}

h1 a, h2 a, h3 a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  @apply border-b-0;
}

h1 a:hover, h2 a:hover, h3 a:hover {
  @apply no-underline;
}

h1 a::before, h2 a::before, h3 a::before {
  content: "#";
  @apply -ml-6 pr-2 opacity-0;
}

h1 a:hover::before, h2 a:hover::before, h3 a:hover::before {
  content: "#";
  @apply -ml-6 pr-2 opacity-100;
}

.turbo-progress-bar {
  height: 4px;
  @apply bg-purple-200;
}

div.highlighter-rouge {
  @apply bg-purple-50 p-4 mt-4 mb-10 text-black border-t-4 border-purple-500 rounded-b-3xl;
  /* @apply mx-auto text-3xl relative md:max-w-xl p-6 font-serif my-12 border-t-4 border-green-400 bg-green-50 rounded-b-3xl; */
}

.highlight code {
  @apply text-lg md:text-2xl no-underline;
}

.highlight .lineno { -webkit-user-select: none;-moz-user-select: none; -o-user-select: none; }
.lineno::-moz-selection { background-color: transparent; } /* Mozilla specific */
.lineno::selection { background-color: transparent; } /* Other major browsers */

.highlight pre {
  @apply bg-purple-50 rounded-xl overflow-auto px-2;
}

/* .highlight .hll { background-color: #49483e } */
.highlight .c { @apply text-gray-400; } /* Comment */
.highlight .err { @apply text-red-900; } /* Error */
.highlight .k { @apply text-emerald-600; } /* Keyword */
.highlight .l { @apply text-pink-600; } /* Literal */
/* .highlight .n { color: #f8f8f2 } Name */
/* .highlight .o { color: #f92672 } Operator */
/* .highlight .p { color: #f8f8f2 } Punctuation */
.highlight .ch { @apply text-gray-400; } /* Comment.Hashbang */
.highlight .cm { @apply text-gray-400; } /* Comment.Multiline */
/* .highlight .cp { color: #75715e } Comment.Preproc */
.highlight .cpf { @apply text-gray-400; } /* Comment.PreprocFile */
.highlight .c1 { @apply text-gray-400; } /* Comment.Single */
.highlight .cs { @apply text-gray-400; } /* Comment.Special */
.highlight .gd { @apply text-red-900; } /* Generic.Deleted */
.highlight .ge { @apply italic; } /* Generic.Emph */
.highlight .gi { @apply text-emerald-600; } /* Generic.Inserted */
.highlight .gs { @apply font-bold; } /* Generic.Strong */
.highlight .gu { @apply text-orange-400; } /* Generic.Subheading */
.highlight .kc { @apply text-orange-400; } /* Keyword.Constant */
.highlight .kd { @apply text-orange-400; } /* Keyword.Declaration */
.highlight .kn { @apply text-red-700; } /* Keyword.Namespace */
.highlight .kp { @apply text-orange-400; } /* Keyword.Pseudo */
.highlight .kr { @apply text-orange-400; } /* Keyword.Reserved */
.highlight .kt { @apply text-orange-400; } /* Keyword.Type */
.highlight .ld { @apply text-emerald-600; } /* Literal.Date */
.highlight .m { @apply text-pink-600; } /* Literal.Number */
.highlight .s { @apply text-emerald-600; } /* Literal.String */
/* .highlight .na { color: #a6e22e } Name.Attribute */
/* .highlight .nb { @apply text-black; } Name.Builtin */
/* .highlight .nc { color: #a6e22e } Name.Class */
.highlight .no { @apply text-orange-400; } /* Name.Constant */
/* .highlight .nd { color: #a6e22e } Name.Decorator */
.highlight .ni { @apply text-orange-400; } /* Name.Entity */
/* .highlight .ne { color: #a6e22e } Name.Exception */
/* .highlight .nf { color: #a6e22e } Name.Function */
.highlight .nl { @apply text-orange-400; } /* Name.Label */
.highlight .nn { @apply text-orange-400; } /* Name.Namespace */
/* .highlight .nx { color: #a6e22e } Name.Other */
.highlight .py { @apply text-orange-400; } /* Name.Property */
.highlight .nt { @apply text-red-600; } /* Name.Tag */
.highlight .nv { @apply text-orange-400; } /* Name.Variable */
/* .highlight .ow { color: #f92672 } Operator.Word */
.highlight .w { @apply text-pink-600; } /* Text.Whitespace */
.highlight .mb { @apply text-red-600; } /* Literal.Number.Bin */
.highlight .mf { @apply text-red-600; } /* Literal.Number.Float */
.highlight .mh { @apply text-red-600; } /* Literal.Number.Hex */
.highlight .mi { @apply text-red-600; } /* Literal.Number.Integer */
.highlight .mo { @apply text-red-600; } /* Literal.Number.Oct */
.highlight .sa { @apply text-pink-600; } /* Literal.String.Affix */
.highlight .sb { @apply text-pink-600; } /* Literal.String.Backtick */
.highlight .sc { @apply text-pink-600; } /* Literal.String.Char */
.highlight .dl { @apply text-pink-600; } /* Literal.String.Delimiter */
.highlight .sd { @apply text-pink-600; } /* Literal.String.Doc */
.highlight .s2 { @apply text-pink-600; } /* Literal.String.Double */
.highlight .se { @apply text-pink-600; } /* Literal.String.Escape */
.highlight .sh { @apply text-pink-600; } /* Literal.String.Heredoc */
.highlight .si { @apply text-pink-600; } /* Literal.String.Interpol */
.highlight .sx { @apply text-pink-600; } /* Literal.String.Other */
.highlight .sr { @apply text-pink-600; } /* Literal.String.Regex */
.highlight .s1 { @apply text-pink-600; } /* Literal.String.Single */
.highlight .ss { @apply text-pink-600; } /* Literal.String.Symbol */
.highlight .bp { @apply text-purple-600; } /* Name.Builtin.Pseudo */
.highlight .fm { @apply text-orange-400; } /* Name.Function.Magic */
.highlight .vc { @apply text-purple-600; } /* Name.Variable.Class */
.highlight .vg { @apply text-purple-600; } /* Name.Variable.Global */
.highlight .vi { @apply text-purple-600; } /* Name.Variable.Instance */
.highlight .vm { @apply text-purple-600; } /* Name.Variable.Magic */
.highlight .il { @apply text-purple-600; } /* Literal.Number.Integer.Long */