---
---
@import "fonts";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer utilities {
  .wavy {
    text-decoration-style: wavy;
  }

  @variants hover, focus {
    .wavy {
      text-decoration-style: wavy;
    }
  }
}

@layer base {
  body {
    @apply text-lg md:text-2xl leading-loose;
  }

  strong {
    @apply font-bold;  
  }

  h1, h2, h3 {
    @apply font-serif font-bold;
  }

  h1 {
    @apply text-pink-400 text-3xl;
  }

  h2 {
    @apply text-green-300 text-2xl;
  }

  a {
    @apply text-lg md:text-2xl text-orange-400 no-underline wavy hover:underline hover:wavy;
  }

  p {
    @apply text-lg md:text-2xl mb-10;
  }

  code {
    @apply text-lg md:text-2xl font-mono break-words;
  }

  p code {
    @apply text-lg md:text-2xl bg-red-100 rounded-full overflow-auto px-2 mb-10;
  }

  p img {
    @apply py-4 mx-auto;
  }

  p img + em {
    @apply block text-center font-serif mx-auto text-sm text-pink-400;
  }

  ol, ul {
    @apply ml-6;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  figure, img, video {
    @apply max-w-full text-center;
  }

  blockquote {
    @apply mx-auto text-3xl relative max-w-xs md:max-w-xl p-2 font-serif my-12 self-center;
  }
  
  blockquote:before,
  blockquote:after {
    @apply absolute text-green-200 text-4xl md:text-9xl w-16 h-16;
  }

  blockquote:before {
    content: '“';
    @apply -left-10 md:-left-20 -top-12;
  }
  
  blockquote:after {
    content: '”';
    @apply -right-20;
  }

  blockquote p {
    @apply my-0;
  }
}

@layer components {
  div.highlighter-rouge {
    @apply bg-gray-100 rounded-xl p-4 mt-4 mb-10;
  }

  .highlight code {
    @apply text-lg md:text-2xl no-underline;
  }

  .highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
  .lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
  .lineno::selection {background-color: transparent;} /* Other major browsers */

  .highlight pre {
    @apply bg-gray-100 rounded-xl overflow-auto;
  }
}

