---
---
@import "fonts";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .wavy {
    text-decoration-style: wavy;
  }

  @variants hover, focus {
    .wavy {
      text-decoration-style: wavy;
    }
  }
}

@layer base {
  body {
    @apply text-lg md:text-2xl leading-loose bg-white dark:bg-gray-800 text-black dark:text-white;
  }

  strong {
    @apply font-bold;  
  }

  h1, h2, h3 {
    @apply font-serif font-bold;
  }

  h1 {
    @apply text-pink-400 text-3xl mt-12;
  }

  h2 {
    @apply text-green-300 text-2xl mt-8;
  }

  a {
    @apply text-lg md:text-2xl text-orange-400 no-underline wavy hover:underline hover:wavy;
  }

  p {
    @apply text-lg md:text-2xl mb-10;
  }

  code {
    @apply text-lg md:text-2xl font-mono break-words;
  }

  p code {
    @apply text-lg md:text-2xl text-black bg-red-200 rounded-full overflow-auto px-2 mb-10;
  }

  p img {
    @apply py-4 mx-auto;
  }

  p img + em {
    @apply block text-center font-serif mx-auto text-sm text-gray-400;
  }

  ol, ul {
    @apply ml-6;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  ul li:last-child, ol li:last-child {
    @apply mb-6;
  }

  figure, img, video {
    @apply max-w-full text-center;
  }

  blockquote {
    @apply mx-auto text-3xl relative md:max-w-xl p-2 font-serif my-12;
  }
  
  blockquote::before,
  blockquote::after {
    @apply absolute text-green-200 text-6xl md:text-9xl w-16 h-16;
  }

  blockquote::before {
    content: "\“";
    @apply -left-10 md:-left-20 -top-8 md:-top-4;
  }
  
  blockquote::after {
    content: "\”";
    @apply -right-20 bottom-0 md:-bottom-4;
  }

  blockquote p {
    @apply my-0;
  }
}

.turbo-progress-bar {
  height: 4px;
  @apply bg-purple-200;
}

div.highlighter-rouge {
  @apply bg-gray-100 rounded-xl p-4 mt-4 mb-10 text-black;
}

.highlight code {
  @apply text-lg md:text-2xl no-underline;
}

.highlight .lineno { -webkit-user-select: none;-moz-user-select: none; -o-user-select: none; }
.lineno::-moz-selection { background-color: transparent; } /* Mozilla specific */
.lineno::selection { background-color: transparent; } /* Other major browsers */

.highlight pre {
  @apply bg-gray-100 rounded-xl overflow-auto;
}

/* .highlight .hll { background-color: #49483e } */
.highlight .c { @apply text-gray-400; } /* Comment */
.highlight .err { @apply text-red-900; } /* Error */
.highlight .k { @apply text-green-400; } /* Keyword */
.highlight .l { @apply text-pink-600; } /* Literal */
/* .highlight .n { color: #f8f8f2 } Name */
/* .highlight .o { color: #f92672 } Operator */
/* .highlight .p { color: #f8f8f2 } Punctuation */
.highlight .ch { @apply text-gray-400; } /* Comment.Hashbang */
.highlight .cm { @apply text-gray-400; } /* Comment.Multiline */
/* .highlight .cp { color: #75715e } Comment.Preproc */
.highlight .cpf { @apply text-gray-400; } /* Comment.PreprocFile */
.highlight .c1 { @apply text-gray-400; } /* Comment.Single */
.highlight .cs { @apply text-gray-400; } /* Comment.Special */
.highlight .gd { @apply text-red-900; } /* Generic.Deleted */
.highlight .ge { @apply italic; } /* Generic.Emph */
.highlight .gi { @apply text-green-400; } /* Generic.Inserted */
.highlight .gs { @apply font-bold; } /* Generic.Strong */
.highlight .gu { @apply text-orange-400; } /* Generic.Subheading */
.highlight .kc { @apply text-orange-400; } /* Keyword.Constant */
.highlight .kd { @apply text-orange-400; } /* Keyword.Declaration */
.highlight .kn { @apply text-red-700; } /* Keyword.Namespace */
.highlight .kp { @apply text-orange-400; } /* Keyword.Pseudo */
.highlight .kr { @apply text-orange-400; } /* Keyword.Reserved */
.highlight .kt { @apply text-orange-400; } /* Keyword.Type */
.highlight .ld { @apply text-green-400; } /* Literal.Date */
.highlight .m { @apply text-pink-600; } /* Literal.Number */
.highlight .s { @apply text-green-400; } /* Literal.String */
/* .highlight .na { color: #a6e22e } Name.Attribute */
/* .highlight .nb { @apply text-black; } Name.Builtin */
/* .highlight .nc { color: #a6e22e } Name.Class */
.highlight .no { @apply text-orange-400; } /* Name.Constant */
/* .highlight .nd { color: #a6e22e } Name.Decorator */
.highlight .ni { @apply text-orange-400; } /* Name.Entity */
/* .highlight .ne { color: #a6e22e } Name.Exception */
/* .highlight .nf { color: #a6e22e } Name.Function */
.highlight .nl { @apply text-orange-400; } /* Name.Label */
.highlight .nn { @apply text-orange-400; } /* Name.Namespace */
/* .highlight .nx { color: #a6e22e } Name.Other */
.highlight .py { @apply text-orange-400; } /* Name.Property */
.highlight .nt { @apply text-red-600; } /* Name.Tag */
.highlight .nv { @apply text-orange-400; } /* Name.Variable */
/* .highlight .ow { color: #f92672 } Operator.Word */
.highlight .w { @apply text-pink-600; } /* Text.Whitespace */
.highlight .mb { @apply text-red-600; } /* Literal.Number.Bin */
.highlight .mf { @apply text-red-600; } /* Literal.Number.Float */
.highlight .mh { @apply text-red-600; } /* Literal.Number.Hex */
.highlight .mi { @apply text-red-600; } /* Literal.Number.Integer */
.highlight .mo { @apply text-red-600; } /* Literal.Number.Oct */
.highlight .sa { @apply text-pink-600; } /* Literal.String.Affix */
.highlight .sb { @apply text-pink-600; } /* Literal.String.Backtick */
.highlight .sc { @apply text-pink-600; } /* Literal.String.Char */
.highlight .dl { @apply text-pink-600; } /* Literal.String.Delimiter */
.highlight .sd { @apply text-pink-600; } /* Literal.String.Doc */
.highlight .s2 { @apply text-pink-600; } /* Literal.String.Double */
.highlight .se { @apply text-pink-600; } /* Literal.String.Escape */
.highlight .sh { @apply text-pink-600; } /* Literal.String.Heredoc */
.highlight .si { @apply text-pink-600; } /* Literal.String.Interpol */
.highlight .sx { @apply text-pink-600; } /* Literal.String.Other */
.highlight .sr { @apply text-pink-600; } /* Literal.String.Regex */
.highlight .s1 { @apply text-pink-600; } /* Literal.String.Single */
.highlight .ss { @apply text-pink-600; } /* Literal.String.Symbol */
.highlight .bp { @apply text-purple-600; } /* Name.Builtin.Pseudo */
.highlight .fm { @apply text-orange-400; } /* Name.Function.Magic */
.highlight .vc { @apply text-purple-600; } /* Name.Variable.Class */
.highlight .vg { @apply text-purple-600; } /* Name.Variable.Global */
.highlight .vi { @apply text-purple-600; } /* Name.Variable.Instance */
.highlight .vm { @apply text-purple-600; } /* Name.Variable.Magic */
.highlight .il { @apply text-purple-600; } /* Literal.Number.Integer.Long */