---
---
@import 'normalize';
@import 'color';
@import 'font';
@import 'typicons';
@import 'base';
@import 'hightlight';

.kz-main-container {
  width: 45rem;
  margin: 10px auto;
  height: 100%;
}

.kz-navbar {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;

  &__logo {
    color: $yellow-color;
    font-family: $secondary-font;
    font-weight: bold;
  }

  &__menu {
    margin-left: auto;
  }

  &__item {
    color: $black-color;
    font-family: $secondary-font;
    font-weight: bold;
    padding: 0 0.2rem;
    position: relative;
    text-decoration: none;

    &:hover {
      color: $black-color;
      background-image: linear-gradient(to bottom, $pink-color 100%, transparent 50%);
      background-position: 0 1.03rem;
      background-repeat: repeat-x;
      background-size: 2px 6px;
    }
  }
}

.kz-content {
  margin: 10px 0;
}

.kz-blog-list {}

.kz-blog-item {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;

  &__date {
    color: $grey-color;
    justify-content: flex-end;
    margin-left: auto;
    text-align: end;
  }

  &__title {
    color: $black-color;
    text-decoration: none;
  }
}

.kz-blog {
  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__title {
    color: $yellow-color;
    margin-bottom: 0.2rem;
  }

  &__info {
    color: $grey-color;
    font-size: 0.75rem;
  }

  &__subtitle {
    color: $grey-color;
  }
}

.kz-pagination {
  margin-top: 30px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;

  &__newer {}

  &__older {
    margin-left: auto;
  }

  &__button {
    border: 1px solid transparent;
    color: $orange-color;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;

    &:hover {
      color: $orange-color;
    }
  }
}

.kz-footer {
  height: 200px;
}

.kz-progress {
  background: linear-gradient(to right, $orange-color var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 4px;
  z-index: 1;
}

@media (min-width: 320px) and (max-width: 480px) {
  .kz-main-container {
    width: 300px;
    // margin: auto;
  }

  .kz-navbar {
    &__item {
      padding-left: 1rem;

      span {
        display: none;
      }
    }
  }
}

// .is-horizontal-center {
//   margin: auto;
// }

// .card {
//   margin-top: 0.8em;
//   margin-bottom: 0.8em;
// }

// .footer {
//   height: 200px;
//   padding: 1.5em;
// }

// .has-margin-1 {
//   margin: 5px;
// }

// .has-margin-2 {
//   margin: 10px;
// }

// .has-margin-3 {
//   margin: 15px;
// }

// .is-on {
//   box-shadow: inset 0 -6px 0 $pink-color;
// }

// .is-blog-subtitle {
//   margin-top: 1em;
//   margin-bottom: 1em;
// }

// .has-text-blue {
//   color: $blue-color !important;
// }

// a {
//   color: $grey-color;
//   text-decoration: none;
//   &:hover, &:active, &:visited {
//     color: $grey-color;
//   }
// }

// a.navbar-item, .navbar-link {
//   color: $blue-color;
//   text-decoration: none;
//   &:hover, &:active, &:visited {
//     color: $blue-color;
//   }
// }

// .title {
//   color: #5c5c5c;
// }

// .subtitle {
//   font-family: $family-secondary;
//   color: $green-color;
// }

// .subtitle + .subtitle {
//   margin-top: -1.25rem;
// }

// .tag:not(body).is-info.is-light {
//   color: $purple-color;
//   background-color: $light-purple-color;
// }

// .is-blog-info {
//   color: $grey-color;
// }

// .is-blog-header {
//   margin-bottom: 1.25em !important;
// }


