<!doctype html>
<html lang="en">
  {%- include head.html -%}
  <body>
    <div class="progress"></div>
    <div class="kz-main-container">
      {%- include navbar.html -%}
      <div class="kz-content">
        <ul class="kz-blog-list">
          {% for post in site.posts %}
            {% assign current_year = post.date | date: "%Y" %}
            {% if current_year != year %}
              <!-- <hr /> -->
              <h2 class="kz-blog-list__title">{{ current_year }}</h2>
              {% assign year = current_year %}
            {% endif %}
            <li class="kz-blog-item">
              <a class="kz-blog-item__title" href="{{ post.url }}">{{ post.title }}</a>
              <div class="kz-blog-item__info">
                <i class="typcn typcn-calendar-outline"></i> {{ post.date | date: "%d-%m-%Y" }}
                {% if post.categories.size > 0 %}
                  | <i class="typcn typcn-bookmark"></i>
                  {% for category in post.categories %}
                    <span>{{ category }}</span>
                  {% endfor %}
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
        {%- include page_nav.html -%}
      </div>
    </div>
    <!-- {%- include footer.html -%} -->
    {%- include progress.html -%}
  </body>
</html>
