<!doctype html>
<html lang="en">
  {%- include head.html -%}
  <body data-theme="light">
    <div class="kz-progress"></div>
    <div class="kz-main-container">
      {%- include navbar.html -%}
      {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}

        <h2>{{ category_name | capitalize }}</h2>
        <!-- <a name="{{ category_name | slugize }}"></a> -->
        <ul class="kz-blog-list">
          {% for post in site.categories[category_name] limit: 6 %}
            <li class="kz-blog-item">
              <a class="kz-blog-item__title" href="{{ post.url }}">{{ post.title }}</a>
              <div class="kz-blog-item__info">
                <i class="typcn typcn-calendar-outline"></i> {{ post.date | date: "%d-%m-%Y" }}
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
    <!-- {%- include footer.html -%} -->
    {%- include progress.html -%}
  </body>
</html>
