---
layout: home
---
<section class="home-box">
  <div class="home-box__room">
    <h1>{{ page.title | capitalize }}</h1>
    <ul>
      {% for post in page.posts %}
        <li class="blog-item">
          <a class="blog-item__title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <div class="blog-item__info">
            <i class="typcn typcn-calendar-outline"></i> {{ post.date | date: "%d-%m-%Y" }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
